
html,
body{
  background-color: hsl(0, 0%, 100%);
}



/* Bootstrap Card */

$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

