// @use 'sass:map';
// @import './theming';

/* For use in src/lib/core/theming/_palette.scss */
$admin-primary: (
    50 : #ffffff,
    100 : #d2efc5,
    200 : #b4e49e,
    300 : #95d977,
    400 : #7fd159,
    500 : #ffffff,
    600 : #60c336,
    700 : #55bc2e,
    800 : #4bb527,
    900 : #3aa91a,
    A100 : #e5ffdf,
    A200 : #bcffac,
    A400 : #93ff79,
    A700 : #7eff5f,
    contrast: (
        50 : #996d6d,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #686877,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-red: (
    50 : #fbeded,
    100 : #f6d1d1,
    200 : #f0b3b3,
    300 : #e99494,
    400 : #e57d7d,
    500 : #a50b0b,
    600 : #dc5e5e,
    700 : #d85353,
    800 : #d34949,
    900 : #cb3838,
    A100 : #ffffff,
    A200 : #ffe2e2,
    A400 : #ffafaf,
    A700 : #ff9696,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-purple: (
    50 : #f8eff4,
    100 : #edd7e3,
    200 : #e1bdd0,
    300 : #d4a3bd,
    400 : #cb8fae,
    500 : #c27ba0,
    600 : #bc7398,
    700 : #b4688e,
    800 : #ac5e84,
    900 : #9f4b73,
    A100 : #fffcfd,
    A200 : #ffc9e2,
    A400 : #ff96c7,
    A700 : #ff7cb9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Foreground palette for light themes.
// $mat-light-theme-foreground: (

//   icon:              rgba(black, 0.54),
//   icons:             rgba(black, 0.54),

// );
