.navbar{
  background: #a0aef630;
  backdrop-filter: blur(3px);
}
main
{
  min-height: calc(100vh - 275px);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

