<div class="container">
  <div class="main mt-5 px-5">
    <div class="row g-4 d-flex ">
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 120px;">
        <div class="card">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img4.jpg" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <div class="card-title">Hot Summer Night</div>
                <div class="card-text">
                  Get free items here
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 120px;">
        <div class="card">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img2.jpg" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <div class="card-title">Daily lucky winners get 1 free</div>
                <div class="card-text">
                  Apply to get chances
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 120px;">
        <div class="card">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img3.jpg" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <div class="card-title">Up to 60% off</div>
                <div class="card-text">
                  On Hotel Booking Online
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  <!-- <div class="row my-5">
    <div class="col-lg-5 position-relative">
      <img src="../assets/img1.jpg" class="img-fluid rounded-4 img1" alt="...">
      <div class="card mx-5 p-1 position-absolute start-25 bottom-0 ">
        <div class="row">
          <div class="col">
            Client
          </div>
          <div class="col">
            Rating
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
    <div class="col-lg-5 offset-lg-2 mt-sm-5 mt-lg-0">
      <div class="row mt">
        <h1 class="fw-medium fs-1 txt-head">The Best Holidays Starts <br/> Here!</h1>
        <p>Book your hotels with us and don't forget to grab an awesome hotel deal to save massive on your stay</p>
      </div>

      <div class="row row-cols-2 row-cols-sm mt-4 gy-2">

          <div class="resturant-card">
            <div class="resturant-icon green">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>

          <div class="col">

          <div class="resturant-card">
            <div class="resturant-icon red">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>

          </div>


          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon orange">
                <span class="material-symbols-outlined">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon blue">
                <span class="material-symbols-outlined blue">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

      </div>
    </div>
  </div> -->

  <div class="details row d-flex my-5">
    <div class="col-md-5">
      <div class="details-left">
      <img src="../assets/img1.jpg" class="details-img" alt="...">
      <div class="details-card d-flex flex-column">
        <div class="details-card-sec1">
          <div class="details-card-left-info">
            Client
          </div>
          <div class="like-logo">
            <img src="../assets/l1.png" alt="like">
          </div>
          <div class="details-card-right-info">
            Rating
          </div>
        </div>
        <div class="details-card-sec2">
          <div class="details-card-left-info">
            <div class="d-flex avatars">
            <div><img src="../assets/av1.jpg" alt="Avatar" class="avatar"></div>
            <div><img src="../assets/av2.jpg" alt="Avatar" class="avatar"></div>
            <div><img src="../assets/av3.jpg" alt="Avatar" class="avatar"></div>
            <div><img src="../assets/av4.jpg" alt="Avatar" class="avatar"></div>
            <div class="rank">1K+</div>
          </div>
          </div>
          <div class="details-card-right-info col">
            <div class="rating">
              <div class="value">4.5</div>
              <div class="star"><span class="fa fa-star checked"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6 offset-md-1 mt-sm-4 mt-md-0">
      <div class="details-right">
      <div class="details-right-sec1">
        <h1>The Best Holidays Starts  Here!</h1>
        <p>Book your hotels with us and don't forget to grab an awesome hotel deal to save massive on your stay</p>
      </div>

      <div class="details-right-sec2">

        <div class="col">
          <div class="resturant-card">
            <div class="resturant-icon green">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>
        </div>

          <div class="col">

          <div class="resturant-card">
            <div class="resturant-icon red">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>

          </div>


          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon orange">
                <span class="material-symbols-outlined">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon blue">
                <span class="material-symbols-outlined blue">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

      </div>
    </div>
    </div>
  </div>
</div>
</div>
