<div class="container">
  <div class="main mt-5 px-5">
    <div class="row g-5 d-flex ">
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 150px;">
        <div class="card rounded-4 mb-3" style="max-height: 150px; overflow: hidden;">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img4.jpg" class="img-fluid rounded-start img4 object-fit-cover" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <h5 class="card-title">Hot Summer Night</h5>
                <div class="card-text" style="max-height: 80px; overflow-y: auto;">
                  Get free items here
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 150px;">
        <div class="card rounded-4 mb-3" style="max-height: 150px; overflow: hidden;">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img2.jpg" class="img-fluid rounded-start img4 object-fit-cover" alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <h5 class="card-title">Daily lucky winners get 1 free</h5>
                <div class="card-text" style="max-height: 80px; overflow-y: auto;">
                  Apply to get chances
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-center justify-center" style="max-height: 150px;">
        <div class="card rounded-4 mb-3" style="max-height: 150px; overflow: hidden;">
          <div class="row g-0">
            <div class="col-6">
              <img src="../assets/img3.jpg" class="img-fluid rounded-start object-fit-cover img4 " alt="...">
            </div>
            <div class="col-6">
              <div class="card-body">
                <h5 class="card-title">Up to 60% off</h5>
                <div class="card-text" style="max-height: 80px; overflow-y: auto;">
                  On Hotel Booking Online
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  <div class="row my-5">
    <div class="col-lg-5 position-relative">
      <img src="../assets/img1.jpg" class="img-fluid rounded-4 img1" alt="...">
      <div class="card mx-5 p-1 position-absolute start-25 bottom-0 ">
        <div class="row">
          <div class="col">
            Client
          </div>
          <div class="col">
            Rating
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
    <div class="col-lg-5 offset-lg-2 mt-sm-5 mt-lg-0">
      <div class="row mt">
        <h1 class="fw-medium fs-1 txt-head">The Best Holidays Starts <br/> Here!</h1>
        <p>Book your hotels with us and don't forget to grab an awesome hotel deal to save massive on your stay</p>
      </div>

      <div class="row row-cols-2 row-cols-sm mt-4 gy-2">

          <div class="resturant-card">
            <div class="resturant-icon green">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>

          <div class="col">

          <div class="resturant-card">
            <div class="resturant-icon red">
              <span class="material-symbols-outlined">
                restaurant
                </span>
            </div>
            <div class="resturant-title">
            <h2>Quality Food</h2>
            </div>
            <div class="resturant-content">
            <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
            </div>
          </div>

          </div>


          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon orange">
                <span class="material-symbols-outlined">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

          <div class="col">

            <div class="resturant-card">
              <div class="resturant-icon blue">
                <span class="material-symbols-outlined blue">
                  restaurant
                  </span>
              </div>
              <div class="resturant-title">
              <h2>Quality Food</h2>
              </div>
              <div class="resturant-content">
              <p>Derature defecting arranging raputurous did. Conduct denied adding worthy little</p>
              </div>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>
</div>
